
@font-face {
    font-family: 'iconfont';  /* Project id 3800448 */
    src: url('//at.alicdn.com/t/c/font_3800448_467cvhs2ccu.woff2?t=1677417494327') format('woff2'),
         url('//at.alicdn.com/t/c/font_3800448_467cvhs2ccu.woff?t=1677417494327') format('woff'),
         url('//at.alicdn.com/t/c/font_3800448_467cvhs2ccu.ttf?t=1677417494327') format('truetype');
  }
  /* .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }